body {
	font-family: $parrafos-font-family;
}

.navbar {
	font-family: $font-family-sans-serif;
}

.navbar-title {
	font-size: 1.3rem;
}

.btn-primary {
	color: aliceblue;
}

.banner {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
}

.banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner .banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.14002695804884457) 9%,
		rgba(0, 0, 0, 0.6) 100%
	);
}

.tabla-recetas {
	height: 400px;
}
