// Fonts
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// styles recetas
@import "recetas";

// styles perfil
@import "perfil";

// like styles
@import "like";

// styles inicio
@import "inicio";

body {
  min-width: 320px;
}


// lazy load styles
.blur-up {
  transition: filter 1s, -webkit-filter 1s;
}

.blur-up.lazyloading {
  -webkit-filter: blur(7px);
  filter: blur(7px);
}

.blur-up.lazyloaded {
  filter: blur(0);
}